
:root {
  --just-center: center;
  --align-center: center;
  --text-align-center: center;
  --pad-px-8: 8px;
  --padding-8px: 8px;
  --padding-10px: 10px;
  --padding-15px: 15px;
  --primary-color: #0047AB;
  --secondary-color: #6ba4f3;
  --background-color: #f8fafc;
  --background-color2: #abd2fa;
  --dark: #181818;
  --white: #ffff;
  --font-family: "Inter", sans-serif;
  --border-radius: 5px;
}

* {
    margin: 0;
    padding: 0;
    font-family: var(--fontFamily);
    box-sizing: border-box;
    color: var(--text-color);
}

.bold {
    font-weight: bolder;
}
/* ******************* HEADER ******************** */

header {
  display: grid;
  grid-template-columns: 24px auto 44px;
  grid-template-rows: auto auto;
  align-items: center;
  padding: 5px 10px 5px 10px;
  color: var(--dark);
  column-gap: 18px;
  font-size: 20px;
}

header img {
    display: block;
    width: 2.4rem;
    height: auto;
    padding-bottom: 5px;
}

header span {
    font-size: 1.2rem;
    font-weight: bold;
}

/* ******************* HAMBURGER BUTTON ******************** */

/* .hamburger::before {
  content: "\2630";
} */

.hamburger {
    background: none;
    border: none;
    cursor: pointer;
}

.hamburger:before {
  content: "\2630";
  font-size: 2rem;
}

.hamburger.show:before {
  content: "\00D7";
  font-size: 2rem;
}

/* ******************* NAVIGATION ******************** */

.navigation {
    display: none;
}

.navigation.show {
    display: block;
    grid-column: 1/4;
    grid-row: 2/3;
}

.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navigation a {
    display: block;
    padding: .8rem 10px;
    text-decoration: none;
}

.navigation li.current {
    background-color: var(--secondary-color);
    color: var(--text-white);
}

.navigation a:hover {
    background-color: var(--secondary-color);
    border-bottom: solid 1px var(--white);
}


/* ******************* MAIN ******************** */

main {
    text-align: center;
}

h1 {
    margin: 1rem 10px;
    font-size: 1.4rem;
    color: var(--primary-color);
}

/* ***************** Discover ***********************  */
#allplaces div {
    margin: 1rem 8px;
    border: 1px solid var(--secondary-color);
    background-color: var(--background-color);
    border-radius: 8px;
    overflow: hidden;

    /* arranging */
    display: grid;
    grid-template-areas: 
    "name"
    "photograph"
    "description"
    "address"
    "button";

    align-items: flex-start;
}

#allplaces div h2 {
    margin: 1rem 10px;
    grid-area: name;
}

#allplaces div img {
    width: 100%;
    grid-area: photograph;
}

#allplaces div p {
    margin: 1rem 10px;
    grid-area: description;
}

#allplaces div address {
    margin: 1rem 10px;
    grid-area: addrees;
}

#allplaces div button {
    margin: 1rem 0px;
    height: 45px;
    width: 100%;
    background-color: var(--primary-color);
    color: var(--background-color);
    font-weight: bolder;
    cursor: pointer;
    grid-area: button;
    
}
#allplaces div button:active {
    background-color: var(--secondary-color);
    color: var(--dark);
}


/* ******************* FOOTER ******************** */

footer {
    margin-top: 20px;
    padding: 1rem 10px;
    text-align: center;
    color: var(--text-white);
}

.social {
    display: flex;
    justify-content: center;
    column-gap: var(--pad-px-8);
    margin: 12px;
}

.social a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 22px;
}

.social a:hover {
    border: 2px solid var(--color-2);
    background-color: #ccc;
}

.social img {
    width: 22px;
    height: 22px;
}

