:root {
    --just-center: center;
    --align-center: center;
    --text-align-center: center;
    --pad-px-8: 8px;
    --padding-8px: 8px;
    --padding-10px: 10px;
    --padding-15px: 15px;
    --primary-color: #0047AB;
    --secondary-color: #6ba4f3;
    --background-color: #f8fafc;
    --background-color2: #abd2fa;
    --dark: #181818;
    --white: #ffff;
    --font-family: "Inter", sans-serif;
    --border-radius: 5px
}

* {
    margin: 0;
    padding: 0;
    font-family: var(--fontFamily);
    box-sizing: border-box;
    color: var(--text-color)
}

header {
    display: grid;
    grid-template-columns: 24px auto 44px;
    grid-template-rows: auto auto;
    align-items: center;
    padding: 5px 10px 5px 10px;
    color: var(--dark);
    column-gap: 18px;
    font-size: 20px
}

header img {
    display: block;
    width: 2.4rem;
    height: auto;
    padding-bottom: 5px
}

header span {
    font-size: 1.2rem;
    font-weight: bold
}

.hamburger {
    background: none;
    border: none;
    cursor: pointer
}

.hamburger:before {
    content: "\2630";
    font-size: 2rem
}

.hamburger.show:before {
    content: "\00D7";
    font-size: 2rem
}

.navigation {
    display: none
}

.navigation.show {
    display: block;
    grid-column: 1/4;
    grid-row: 2/3
}

.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0
}

.navigation a {
    display: block;
    padding: .8rem 10px;
    text-decoration: none
}

.navigation li.current {
    background-color: var(--secondary-color);
    color: var(--text-white)
}

.navigation a:hover {
    background-color: var(--secondary-color);
    border-bottom: solid 1px var(--white)
}

main {
    text-align: center
}

h1 {
    margin: 1rem 10px;
    font-size: 1.4rem;
    color: var(--primary-color)
}

#allplaces div {
    margin: 1rem 8px;
    border: 1px solid var(--secondary-color);
    background-color: var(--background-color);
    border-radius: 8px;
    overflow: hidden;
    display: grid;
    grid-template-areas: "name""photograph""description""address""button";
    align-items: flex-start
}

#allplaces div h2 {
    margin: 1rem 10px;
    grid-area: name
}

#allplaces div img {
    width: 100%;
    grid-area: photograph
}

#allplaces div p {
    margin: 1rem 10px;
    grid-area: description
}

#allplaces div address {
    margin: 1rem 10px;
    grid-area: addrees
}

#allplaces div button {
    margin: 1rem 0px;
    height: 45px;
    width: 100%;
    background-color: var(--primary-color);
    color: var(--background-color);
    font-weight: bolder;
    cursor: pointer;
    grid-area: button
}

#allplaces div button:active {
    background-color: var(--secondary-color);
    color: var(--dark)
}

/* lazy load */

img.lazy {
  filter: blur(10px);
  transform: scale(1.05);
  transition: filter 0.5s ease-in-out, transform 0.5s ease-in-out;
  opacity: 0.5;
}

img.lazy-loaded {
  filter: blur(0);
  transform: scale(1);
  opacity: 1;
}



footer {
    margin-top: 20px;
    padding: 1rem 10px;
    text-align: center;
    color: var(--text-white)
}

.social {
    display: flex;
    justify-content: center;
    column-gap: var(--pad-px-8);
    margin: 12px
}

.social a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 22px
}

.social a:hover {
    border: 2px solid var(--color-2);
    background-color: #ccc
}

.social img {
    width: 22px;
    height: 22px
}

@media only screen and (min-width: 38rem) {

    header,
    main,
    nav,
    footer,
    .sort-btn-container {
        max-width: 1200px;
        margin: 24px auto
    }

    header {
        grid-template-columns: 24px auto auto
    }

    .hamburger {
        display: none
    }

    .navigation {
        display: block;
        width: 100%;
        grid-column: 3/4;
        grid-row: 1/2
    }

    .navigation ul {
        display: flex;
        float: right
    }

    .navigation a {
        display: block;
        padding: 0 10px;
        text-align: center;
        height: 100%;
        width: 100px;
        border-bottom: none
    }

    .navigation li.current {
        background-color: #ffff;
        font-weight: bolder;
        text-decoration: underline
    }

    .navigation a:hover {
        text-decoration: underline
    }

    h1 {
        grid-row: 1/2;
        grid-column: 1/4;
        text-align: left
    }

    .sort-btn-container {
        justify-content: left;
        margin-left: 12px;
        gap: 10px
    }

    .join-wrapper {
        display: grid;
        padding: 12px;
        grid-template-columns: 1fr 1fr;
        gap: 8px
    }

    h2 {
        text-align: left
    }

    #allplaces div {
        grid-template-areas: "photograph name""photograph description""button location";
        padding: .5rem;
        text-align: left
    }

    #allplaces div img {
        width: 300px
    }

    #allplaces address {
        background-color: aquamarine;
        width: 100%
    }

    footer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr
    }
}

/* my css large */

@media only screen and (min-width: 64rem) {

    /* ***************** DISCOVER ********************  */
    #allplaces {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}
