
:root {
  --just-center: center;
  --align-center: center;
  --text-align-center: center;
  --pad-px-8: 8px;
  --color-1: #3D405B;
  --color-2:  #e07a5f;
  --color-3: #ccc;
  --color-4: #ddd;
  --color-5: #eee;
  --fontFamily: "Elms Sans", sans-serif;
}

* {
    font-family: var(--fontFamily);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* ******************* HEADER ******************** */


/* ******************* MAIN ******************** */
body {
    text-align: center;
    background-color: var(--color-5);
}

main {
	margin: 0 auto;
}

#cards {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	grid-gap: 25px;
	place-items: center;
}

h1 {
    margin: 1rem 10px;
    padding: 10px;
    color: var(--color-1);
}


/* ****************** About Me Sections *********** */
.image-container {
    display: block;
    border: #3D405B 5px solid;
    border-radius: 8px;
    padding: 15px;
    width: 100%;
    height: 100%;
    max-width: 300px;
    background-color: rgb(255, 255, 254);
}

.image-container:hover {
    box-shadow: #3D405B 1px 1px 10px .05px;
}

h2 {
    padding: var(--pad-px-8);
    color: var(--color-1);
}
p {
    font-size: 14px;
}
img {
    display: block;
    margin: 20px auto;
    border: 5px solid black;
    border-radius: var(--pad-px-8);
    width: 100%;
    max-width: 200px;
    box-shadow: #3D405B 1px 1px 10px .05px;
}

/* ******************* FOOTER ******************** */

footer {
    margin-top: 20px;
    background-color: var(--color-5);
    padding: 1rem 10px;
    text-align: center;
}

